server:
  port: 8080
  mode: debug  # debug, release, test

database:
  host: localhost
  port: 3306
  username: root
  password: 
  dbname: voice_writer
  charset: utf8mb4
  max_idle_conns: 10
  max_open_conns: 100
  conn_max_lifetime: 3600  # seconds

log:
  level: info  # debug, info, warn, error
  format: json  # json, text
  output: stdout  # stdout, file

cors:
  allowed_origins:
    - http://localhost:3000
  allowed_methods:
    - GET
    - POST
    - PUT
    - DELETE
    - OPTIONS
  allowed_headers:
    - Origin
    - Content-Type
    - Authorization
